@font-face {
  font-family: "Atkinson";
  src: url("/fonts/AtkinsonHyperPro-Regular.woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Atkinson";
  src: url("/fonts/AtkinsonHyperPro-Bold.woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: "Atkinson", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 18px;

  color-scheme: dark light;
  color: var(--fg0);
  background-color: var(--bg0);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--orange2);
}

body {
  margin: 0;
}

#app {
  width: 800px;
  max-width: calc(100% - 2em);
  margin: auto;
  padding: 3em 1em;
}

/**
* Styles for individual exercises
*/
.frame {
  position: relative;
  display: block;
  margin: auto;
  width: 400px;
  height: 400px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #fff;
  color: #333;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}